
//FONTS
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

//COLORS
$base-color-text: #444444;
$base-green: #68b738;
$white: #ffffff;
$black: #000000;
$grey: #f2f2f2;
$dark-grey: #eaeaea;

//SIZES
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

