/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */

@import "./blocks/visually-hidden.scss";
@import "./blocks/button-primary.scss";
@import "./blocks/button-secondary.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/programms.scss";
@import "./blocks/features.scss";
@import "./blocks/example.scss";
@import "./blocks/image-cat.scss";
@import "./blocks/map.scss";
@import "./blocks/address.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/main-inner.scss";
@import "./blocks/products.scss";
@import "./blocks/card.scss";
@import "./blocks/card-properties.scss";
@import "./blocks/more.scss";
@import "./blocks/additional.scss";
@import "./blocks/subscribe.scss";
