.additional {
  font-family: $secondary-font;
}

.additional__title {
  font-size: 24px;
  line-height: 24px;

  color: $black;

}

.additional__product {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional__weight {
  line-height: 14px;
}

.additional__price {
  line-height: 14px;
}

.additional__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $white;
  background-color: $base-green;

  text-decoration: none;
}
