.additional {
  font-family: $secondary-font;
}

.additional__wrapper {
  margin: 0 20px 54px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 80px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 110px;
  }
}

.additional__title {
  margin: 25px 0 49px;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    //padding: 26px 38px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 896px;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;


  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 150px 91px;
    grid-template-rows: auto auto;
    padding: 26px 38px 28px;
    border: 1px solid $special-grey-2;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 17px;
  }
}

.additional__item:last-child {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
  }
}

.additional__product {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin: 0;
  }
}

.additional__weight {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 15px;
  font-family: $primary-font;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    margin: 0;
  }
}

.additional__price {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: $primary-font;
  line-height: 14px;
  text-align: end;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    margin: 0;
  }
}

.additional__link {
  grid-column: 1/3;
  grid-row: 3/3;
  margin-bottom: 19px;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $base-green;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 0;
  }
}

.additional__promo {
  min-height: 290px;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
    url("../../images/cat-backpack-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 200px;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../images/cat-backpack-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100% 200px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 120px;
    right: 0;
    width: 245px;
    min-height: 288px;
    margin-left: 80px;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 245px 288px;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../images/cat-backpack-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 245px 288px;
    }
  }
}

.additional__promo-text::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;
  width: 78px;
  height: 80px;
  top: 59px;
  left: 101px;

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 83px;
  }
}

.additional__promo-text {
  position: relative;
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
  }
}
