.button-secondary {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $base-color-text;
  background-color: $grey;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    outline: none;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
