.button-primary {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $base-green;
  border: none;
}
