.button-primary {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
<<<<<<< HEAD
  color: $white;
  background-color: $base-green;
=======

  color: $white;
  background-color: $base-green;

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
}
