.button-secondary {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $base-color-text;
  background-color: $grey;
  border: none;
}
