.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
}

.card__link {
  text-decoration: none;
  text-transform: uppercase;
}
