.card-properties {
  font-size: 12px;
  line-height: 16px;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-properties__item {
  display: flex;
  justify-content: space-between;
}
