.copyright {
  position: relative;
  padding-right: 50px;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    max-width: 170px;
    padding-bottom: 4px;
  }
}

.copyright::after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#html-academy-pic");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}

.copyright:hover::after,
.copyright:focus::after {
  background-color: $base-green;
  outline: none;
}

.copyright:active::after {
  opacity: 0.3;
}

.copyright__text {
  @media (min-width: $desktop-width) {
    padding: 8.5px 0;
  }
}
