.example {
  background-color: $grey;
}

.example__wrapper {
  padding: 25px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.example__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: 77px 77px;
    min-height: 303px;
  }

  @media (min-width: $desktop-width) {
    //   grid-template-columns: 180px 256px;
    //   grid-template-rows: 100px 80px 40px;
    // }
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #cdcdcd;
}

.example__value {
  padding: 14.5px 0 17.5px;
  font-family: $secondary-font;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  color: $black;
}

.example__caption {
  font-size: 12px;
  line-height: 12px;
}

.example__costs {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: end;
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    grid-column: 1 / 2;
  }
}

.example__text {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__toggle {
  background-color: #666666;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 512px;
  padding: 0;
  position: absolute;

  &:hover,
  &:focus {
    background-color: $base-green;
  }

  &:active {
    background-color: $base-green;
    opacity: 0.6;
  }
}

.example__toggle::before {
  content: "";
  background-color: $white;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: block;
}

.example__toggle:hover::before,
.example__toggle:focus::before {
  border: 2px solid $base-green;
}

.example__toggle:active::before {
  border: 2px solid rgba(104, 183, 56, 0.6);
}

.example__toggle::after {
  content: "";
  background-color: #666666;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50% -50%);
  display: block;
  mask-image: url("../../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: 50%;
}

.example__toggle:hover::after,
.example__toggle:focus::after {
  background-color: $base-green;
}

.example__toggle:active::after {
  background-color: $base-green;
  opacity: 0.6;
}
