.example {
  padding: 25px 20px 0;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    background: linear-gradient($white 55.5%, $dark-grey 55.5%);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0 110px;
    background: linear-gradient($white 23%, $dark-grey 23%);
  }
}

.example__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 45px 0 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 99px;
    column-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-bottom: 0;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 433px;
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
    margin-bottom: 55px;
    gap: 42px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__value {
  padding: 14.5px 0 17.5px;
  font-family: $secondary-font;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  color: $black;
  border: 1px solid $special-grey-2;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 20px;
  }
}

.example__caption {
  width: 81px;
  align-self: center;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-top: -10px;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    width: 114px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    margin-top: -7px;
    background-color: $dark-grey;
  }
}

.example__caption--time {
  @media (min-width: $tablet-width) {
    width: 142px;
  }
}

.example__costs {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 20px;
    text-align: end;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: normal;
    margin-bottom: 75px;
    padding: 0;
    text-align: center;
  }
}

.example__text {
  @media (min-width: $desktop-width) {
    margin-right: 58px;
  }
}

.example__slider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4px 1fr;
  grid-template-rows: auto;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 53.47%;
  }
}

.example__toggle {
  grid-column: 2/3;
  grid-row: 1/1;
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: $grey-black;
  border: none;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $base-green;
    outline: none;
  }

  &:active {
    background-color: $base-green;
    opacity: 0.6;
  }

  &:disabled {
    opacity: 30%;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__toggle::before {
  content: "";
  background-color: $white;
  border: 2px solid $grey-black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translate(-50%);
  display: block;

  @media (min-width: $tablet-width) {
    top: 236px;
  }
}

.example__toggle:hover::before,
.example__toggle:focus::before {
  border: 2px solid $base-green;
}

.example__toggle:active::before {
  border: 2px solid rgba(104, 183, 56, 0.6);
}

.example__toggle::after {
  content: "";
  background-color: $grey-black;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 119px;
  left: 128px;
  display: block;
  mask-image: url("../../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: 50%;

  @media (min-width: $tablet-width) {
    top: 247px;
    left: 268px;
  }
}

.example__toggle:hover::after,
.example__toggle:focus::after {
  background-color: $base-green;
}

.example__toggle:active::after {
  background-color: $base-green;
  opacity: 0.6;
}

.example__image--slim {
  position: absolute;
  top: 0;
  left: -140px;

  @media (min-width: $tablet-width) {
    left: -280px;
  }
}
