.features {
  padding: 0 20px 47px;

  @media (min-width: $tablet-width) {
    padding: 0 109px 0 30px;
    border-bottom: 1px solid $grey;
  }

  @media (min-width: $desktop-full-width) {
    margin-bottom: 69px;
    padding: 0 106px 0 110px;
    border: none;
  }
}

.features__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-full-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-full-width) {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.features__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  counter-reset: new 0;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    flex-direction: row;
    padding-bottom: 38px;
    gap: 37px;
  }

  @media (min-width: $desktop-full-width) {
    justify-content: start;
    max-width: 1220px;
    margin: 0;
    padding: 0;
    gap: 0;
  }
}

.features__item {
  position: relative;
  min-height: 60px;
  counter-increment: new 1;
}

.features__item::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -2px;
  left: 0;
  background-color: $base-green;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 80px;
    height: 80px;
    top: 32px;
  }

  @media (min-width: $desktop-full-width) {
    top: 40px;
  }
}

.features__item--nutrients {
  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 280px;
  }

  @media (min-width: $desktop-full-width) {
    margin-right: 94px;
  }
}

.features__item--nutrients::after {
  content: "";
  position: absolute;
  background-image: url("../../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-size: 25px 28px;
  width: 25px;
  height: 28px;
  top: 14px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 59px;
    left: 26px;
  }

  @media (min-width: $desktop-full-width) {
    top: 66px;
    left: 25px;
  }
}

.features__item--powder {
  @media (min-width: $tablet-width) {
    width: 246px;
    min-height: 280px;
  }

  @media (min-width: $desktop-full-width) {
    margin-right: 79px;
  }
}

.features__item--powder::after {
  content: "";
  background-image: url("../../icons/stack.svg#powder");
  background-repeat: no-repeat;
  background-size: 26px 28px;
  width: 25px;
  height: 28px;
  position: absolute;
  top: 15px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 59px;
    left: 28px;
  }

  @media (min-width: $desktop-full-width) {
    top: 66px;
  }
}

.features__item--exchange {
  @media (min-width: $tablet-width) {
    width: 247px;
    min-height: 280px;
  }

  @media (min-width: $desktop-full-width) {
    width: 248px;
    margin-right: 75px;
  }
}

.features__item--exchange::after {
  content: "";
  background-image: url("../../icons/stack.svg#eat");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  width: 25px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: 28px;
  }

  @media (min-width: $desktop-full-width) {
    top: 65px;
    left: 27px;
  }
}

.features__item--improvement {
  @media (min-width: $tablet-width) {
    width: 249px;
    min-height: 280px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-full-width) {
    width: 248px;
    padding-left: 0;
  }
}

.features__item--improvement::after {
  content: "";
  background-image: url("../../icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
  width: 26px;
  height: 31px;
  position: absolute;
  top: 13px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 56px;
    left: 30px;
  }

  @media (min-width: $desktop-full-width) {
    top: 65px;
  }
}

.features__description {
  position: relative;
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    padding-top: 63px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      top: -87px;
      right: 7px;
      content: counter(new);
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      color: $grey;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-full-width) {
    padding: 71px 0 57px;

    &::after {
      top: -80px;
    }
  }
}

.features__item--powder .features__description::after {
  @media (min-width: $tablet-width) {
    right: 1px;
  }
}

.features__item--exchange .features__description::after {
  @media (min-width: $tablet-width) {
    right: 1px;
  }
}

.features__item--improvement .features__description::after {
  @media (min-width: $tablet-width) {
    right: -2px;
  }
}

.features__shift {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
