// .hero {
//   min-height: 480px;
//   margin-bottom: 20px;
//   font-family: $secondary-font;
//   font-weight: 400;
//   color: $white;
//   background-image:
//     linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
//     url("../../images/cat-licking@1x.jpg");
//   background-repeat: no-repeat;
//   background-position: center, -160px -40px;
//   background-size: cover, 180%;

//   @media (min-resolution: 2dppx) {
//     background-image:
//       linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
//       url("../../images/cat-licking@2x.jpg");
//   }

//   @media (min-width: $tablet-width) {
//     margin: 0;
//     padding: 65px 30px 0;
//     color: $black;
//     background: $white;
//   }

//   @media (min-width: $desktop-width) {
//     position: relative;
//     margin-bottom: 82px;
//     padding: 143px 0 0 110px;
//     color: $black;
//     background-image:
//       linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
//       url("../../images/cat-licking@1x.jpg");
//     background-repeat: no-repeat;
//     background-position: top right;
//     background-size: cover;

//     @media (min-resolution: 2dppx) {
//       background-image:
//         linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
//         url("../../images/cat-licking@2x.jpg");
//     }
//   }
// }


.hero {
  min-height: 480px;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 400;
  color: $white;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
    url("../../images/cat-licking@1x.jpg");
  background-repeat: no-repeat;
  background-position: center, -160px -40px;
  background-size: cover, 180%;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
      url("../../images/cat-licking@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 65px 30px 0;
    color: $black;
    background: $white;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 694px;
    margin-bottom: 82px;
    padding: 143px 0 0 110px;
    color: $black;
    background-image: linear-gradient(90deg, $white 0%, $white 50%, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 100%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%, contain;

    // @media (min-resolution: 2dppx) {
    //   background-image: linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%);
    // }

    &::after {
      //content: "";
      background-image: url("../../images/cat-licking@1x.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      min-width: 720px;
      width: 100%;
      height: 694px;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 800px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 80px 244px 123px 163px 389px;
    grid-template-rows: 81px auto auto auto auto;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3/4;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    text-align: start;
  }
}

.hero__picture {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    margin-top: -85px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/6;
    grid-column: 4/6;
    margin: 0;
  }
}

.hero__link {
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-green;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin: 0;
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    order: 2;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4/5;
    grid-column: 2/3;
    margin: 0;
    margin-bottom: 184px;
    padding: 14px 26px;
  }
}
