.hero {
  font-family: $secondary-font;

  font-weight: 400;
  color: $white;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
    url("../../images/cat-licking@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
      url("../../images/cat-licking@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    color: $black;
    background: $white;
  }

  @media (min-width: $desktop-width) {
    color: $black;
    background-image:
      linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
      url("../../images/cat-licking@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% auto, 50% auto;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
        url("../../images/cat-licking@2x.jpg");
    }
  }

}

.hero__title {
  font-size: 36px;
  line-height: 36px;

}

.hero__description {
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
}


.hero__image-background {
  position: relative;
  z-index: -1;
  object-fit: cover;
}

.hero__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $base-green;
;
}
