.hero {
  min-height: 480px;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 400;
  color: $white;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
    url("../../images/cat-licking-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
      url("../../images/cat-licking-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 40px 30px 0;
    color: $black;
    background: $white;
  }

  @media (min-width: $desktop-full-width) {
    position: relative;
    height: 694px;
    margin-bottom: 82px;
    padding: 143px 0 0 110px;
    color: $black;
    z-index: 4;
  }
}

.hero::after {
  @media (min-width: $desktop-full-width) {
    content: "";
    background:
      linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(104, 183, 56, 0.85) 0%),
      url("../../images/cat-licking-desktop@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 720px;
    width: 100%;
    height: 694px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(104, 183, 56, 0.85) 0%),
        url("../../images/cat-licking-desktop@2x.jpg");
    }
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 800px;
    align-items: start;
  }

  @media (min-width: $desktop-full-width) {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 80px 244px 123px 163px 389px;
    grid-template-rows: 81px auto auto auto auto;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 10px;
  padding-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-full-width) {
    grid-row: 2/3;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-full-width) {
    grid-row: 3/4;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    text-align: start;
  }
}

.hero__picture {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    margin-top: -83px;
    order: 3;
  }

  @media (min-width: $desktop-full-width) {
    grid-row: 1/6;
    grid-column: 4/6;
    margin: 0;
  }
}

.hero__link {
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-green;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin: 0;
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    order: 2;
    z-index: 1;
  }

  @media (min-width: $desktop-full-width) {
    grid-row: 4/5;
    grid-column: 2/3;
    margin: 0;
    margin-bottom: 184px;
    padding: 14px 26px;
  }
}
