.hero {
  min-height: 480px;
  margin-bottom: 20px;
  font-family: $secondary-font;
<<<<<<< HEAD
=======

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
  font-weight: 400;
  color: $white;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
    url("../../images/cat-licking@1x.jpg");
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-position: center, -160px -40px;
  background-size: cover, 180%;
=======
  background-position: center top;
  background-size: 100% auto;
>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85) 63%, $white 63%),
      url("../../images/cat-licking@2x.jpg");
  }

  @media (min-width: $tablet-width) {
<<<<<<< HEAD
    min-height: 875px;
    margin: 0;
=======
>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
    color: $black;
    background: $white;
  }

  @media (min-width: $desktop-width) {
<<<<<<< HEAD
    position: relative;
    margin-bottom: 82px;
    padding-top: 224px;
=======
>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
    color: $black;
    background-image:
      linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
      url("../../images/cat-licking@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
<<<<<<< HEAD
    background-size: cover;
=======
    background-size: 100% auto, 50% auto;
>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(90deg, $white 50%, rgba(104, 183, 56, 0.85) 50%),
        url("../../images/cat-licking@2x.jpg");
    }
  }
<<<<<<< HEAD
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    align-items: start;
  }
=======

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 25px;
  font-size: 36px;
  line-height: 36px;
<<<<<<< HEAD
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin-bottom: 40px;
    margin-left: 90px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
=======

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
}

.hero__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.hero__picture {
  display: contents;
}

.hero__image {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}


.hero__image-background {
  position: relative;
  z-index: -1;
  object-fit: cover;
}

.hero__link {
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;
<<<<<<< HEAD
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-green;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    margin: 0;
    margin-left: 90px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
=======
  text-transform: uppercase;
  background-color: $base-green;
;
>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
}
