.main-container {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.main-container__title {
  margin: 0;
  padding: 0 20px 41px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding: 0 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 41px 20px;
  }
}

.main-container .main-container__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
    padding: 0;
    padding-left: 110px;
  }
}
