.main-footer {
  background-color: $grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}

.main-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  mask-image: url("../../images/logo-text.svg");
  mask-repeat: no-repeat;
  mask-size: 128px 24px;
  background-color: #111111;

  &:hover,
  &:focus {
    background-color: #3e3e3e;
  }

  &:active {
    background-color: #6b6b6b;
  }
}
