.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
