.main-navigation {
  @media (min-width: $tablet-width) {
    //width: 436px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;
  }
}

.main-navigation__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#close-menu");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: $white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle {
  background-image: url("../../icons/stack.svg#open-menu");
}

.main-navigation--closed .main-navigation__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  //display: none;
}

.main-navigation__list {
  position: absolute;
  top: 65px;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 198px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    min-width: 436px;
    min-height: 24px;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    min-width: 475px;
    max-width: 720px;
    padding-top: 5px;
    font-size: 20px;
    line-height: 29.6px;
    background-color: transparent;
  }
}

.main-navigation-closed .main-navigation__list {
  display: none;
}

.main-navigation__item {
  padding: 22px 0 24px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    border: none;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 29.6px;
    }
  }
}

.main-navigation__item--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $base-green;
      bottom: -10px;
      left: 0;

      @media (min-width: $desktop-width) {
        background-color: $white;
      }
    }
  }
}

.main-header--inner .main-navigation__item--current {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $base-green;
      bottom: -10px;
      left: 0;
    }
  }
}

.main-navigation__link {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.main-header--inner .main-navigation__link {
  @media (min-width: $desktop-width) {
    color: $black;
  }
}
