.main-footer {
  min-height: 240px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    min-height: 147px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}

.main-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  mask-image: url("../../images/logo-text.svg");
  mask-repeat: no-repeat;
  mask-size: 128px 24px;
  background-color: #111111;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    mask-position: center;
    height: 37px;
  }

  &:hover,
  &:focus {
    background-color: #3e3e3e;
  }

  &:active {
    background-color: #6b6b6b;
  }
}
