.main-navigation__toggle {
  background-image: url("../../icons/stack.svg#open-menu");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: $white;
  border: none;
  width: 24px;
  height: 24px;
}

.main-navigation__toggle--close {
  background-image: url("../../icons/stack.svg#close-menu");
}

.main-navigation__list {
  list-style: none;
}

.main-navigation__item {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation__link {
  color: $black;
  text-decoration: none;
}
