.map {
  position: relative;
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 60px 78px 60px 80px;
    background-color: $white;
    z-index: 1;
  }
}

.map__text {
  max-width: 140px;
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $special-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address {
  line-height: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    max-width: 157px;
  }
}

.map__iframe {
  position: relative;
  background-image: url("../../images/map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/map-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-desktop@2x.png");
    }
  }
}

.map__iframe::after {
  content: "";
  position: absolute;
  top: 139px;
  left: 134px;
  width: 57px;
  height: 53px;
  background-image: url("../../icons/stack.svg#map-pin");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 148px;
    left: 333px;
    width: 113px;
    height: 106px;
  }

  @media (min-width: $desktop-width) {
    top: 132px;
    left: 908px;
  }
}


.map iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map--inner {
  background-color: $grey;
}
