<<<<<<< HEAD
=======

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
.more {
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

<<<<<<< HEAD
=======

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
.more__title {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 78px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
<<<<<<< HEAD
  text-align: center;
=======

  margin: 0;
  padding-top: 78px;

>>>>>>> 1b404cd113af47c7c2c7d7621f3bb1d8715f7c37
}

.more__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  text-align: center;
}

.more__link {
  padding: 10px 95px;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $base-color-text;
  background-color: #f2f2f2;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 39px;
  }
}
