.products__list {
  list-style: none;
}

.products__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
  background-color: $base-green;
  text-decoration: none;
}
