.programms {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.programms__title {
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #000000;
}

.programms__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.programms__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
