.promo {
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;
}

.promo__image {
  position: relative;
  z-index: -1;
}

.promo__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
}
