.promo {

  min-height: 290px;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
    url("../../images/cat-backpack-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 280px 290px;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 280px 290px;
  }

  @media (min-width: $tablet-width) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 707px 200px;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../images/cat-backpack-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 707px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    background:
      linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/cat-backpack-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 245px 288px;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%),
        url("../../images/cat-backpack-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 245px 288px;
    }
  }
}

.promo__image {
  position: relative;
  z-index: -1;
}

.promo__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: $white;
}

.promo__text::before {
  content: "";
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;
  width: 78px;
  height: 80px;
  display: block;
}

