.social__link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover,
  &:focus {
    background-color: $base-green;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: $grey-black;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 24px 18.7px;
  mask-position: center;
  background-color: $grey-black;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 20px 18px;
  mask-position: center;
  background-color: $grey-black;
}
