.social__link {
  min-width: 28px;
  min-height: 28px;
  background-color: #666666;
}

.social__link--vkontakte {
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: #666666;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  background-color: #666666;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  background-color: #666666;
}
