.subscribe {
  position: relative;
  margin-bottom: 40px;
  font-family: $secondary-font;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-full-width) {
    margin: 0;
  }
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: $base-green;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% + 110px);
    top: 18px;
    left: -110px;
  }
}

.subscribe__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.subscribe__title {
  width: 212px;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 282px;
    margin: 0 0 66px 30px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 333px;
    margin: 0 70px;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 632px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0 30px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop-full-width) {
    margin: 0 40px;
    margin-bottom: 24px;
    max-width: 100%;
  }
}

.subscribe__form {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 632px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop-full-width) {
    width: 100%;
    padding: 0 344px 104px;
  }
}

.subscribe__field {
  min-width: 280px;
  margin-bottom: 16px;
  padding: 11px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 29.6px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 376px;
    margin-bottom: 0;
    padding: 12px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-full-width) {
    width: 496px;
  }

  &:hover {
    border: 1px solid $special-grey-2;
  }

  &:focus,
  &:active {
    border: 1px solid $base-color-text;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.subscribe__button {
  padding: 15px 81.5px;

  @media (min-width: $tablet-width) {
    padding: 15px 69.5px;
  }
}
