.subscribe {
  font-family: $secondary-font;
  color: $black;
}

.subscribe__wrapper {
  margin: 0 auto;
}

.subscribe__title {
  margin: 0 20px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 70px;
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 632px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
    margin-bottom: 24px;
    max-width: 100%;
  }
}

.subscribe__form {
  margin: 0 auto;
}

.subscribe__input {
  @media (min-width: $tablet-width) {
    max-width: 376px;
  }
}

.subscribe__field {
  min-width: 280px;
  margin-bottom: 16px;
  padding: 13px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 29.6px;
  text-transform: uppercase;
}

.subscribe__button {
  padding: 15px 81.5px;
}
