/* GLOBAL */
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

/* BLOCKS */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-primary {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
.button-primary:hover, .button-primary:focus {
  background-color: #5eaa2f;
  outline: none;
  cursor: pointer;
}
.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.button-primary:disabled {
  opacity: 30%;
  pointer-events: none;
}

.button-secondary {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
}
.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
  background-color: #ebebeb;
  outline: none;
  cursor: pointer;
}
.button-secondary:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.page {
  font-family: "Lato", "Arial", sans-serif;
}
@media (min-width: 1024px) {
  .page {
    position: relative;
  }
}

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  place-items: center center;
}
@media (min-width: 768px) {
  .main-header {
    padding: 25px 30px 10px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    position: absolute;
    top: 55px;
    left: 7.6%;
    width: 100%;
    max-width: 1024px;
    height: 59px;
    padding: 0;
    z-index: 5;
  }
}
@media (min-width: 1700px) {
  .main-header {
    left: 15%;
  }
}
@media (min-width: 2000px) {
  .main-header {
    left: 25%;
  }
}
@media (min-width: 1440px) {
  .main-header {
    max-width: 1220px;
  }
}

.main-header__logo {
  height: 65px;
  padding: 13px 20px 15px;
}
.main-header__logo:hover, .main-header__logo:focus {
  opacity: 0.8;
  outline: none;
}
.main-header__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-header__logo {
    padding: 0;
    padding-right: 13px;
  }
}
@media (min-width: 1024px) {
  .main-header__logo {
    height: 59px;
    padding: 0;
  }
}

.main-header__logo--text {
  display: block;
  align-content: center;
  padding: 13px 24px 13px 16px;
}
@media (min-width: 768px) {
  .main-header__logo--text {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .main-header__logo--text {
    width: 118px;
    height: 59px;
    margin-left: 14px;
    padding-bottom: 0;
  }
}

.main-header--inner {
  position: static;
  margin-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-header--inner {
    margin-bottom: 40px;
    color: #000000;
    border: none;
  }
}
@media (min-width: 1024px) {
  .main-header--inner {
    height: 100%;
    margin: 0 auto;
    padding: 55px 110px 74px;
    max-width: 1440px;
  }
}

.main-header--inner .main-header__logo--text {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .main-header--inner .main-header__logo--text {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .main-header--inner .main-header__logo--text {
    margin-left: 13px;
    padding-top: 4px;
  }
}

.main-navigation {
  display: flex;
  padding: 20px 21px;
}
@media (min-width: 768px) {
  .main-navigation {
    margin-left: auto;
    padding: 14px 2px 25px;
  }
}
@media (min-width: 1024px) {
  .main-navigation {
    max-width: 600px;
    margin-left: auto;
    padding: 1px 2px 4px;
  }
}

@media (max-width: 767px) {
  .main-navigation--nojs {
    width: 100%;
    padding: 0;
  }
}

.main-navigation__toggle {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  background-image: url("../icons/stack.svg#close-menu");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}
.main-navigation__toggle:hover, .main-navigation__toggle:focus {
  outline: none;
  opacity: 0.6;
}
.main-navigation__toggle:active {
  opacity: 0.3;
}

.main-navigation--closed .main-navigation__toggle {
  width: 24px;
  height: 24px;
  margin-left: 0;
  background-image: url("../icons/stack.svg#open-menu");
  background-size: 24px 24px;
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__list {
  position: absolute;
  top: 65px;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 198px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  background-color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-navigation__list {
    position: static;
    flex-direction: row;
    min-width: 436px;
    min-height: 24px;
    gap: 33px;
  }
}
@media (min-width: 1024px) {
  .main-navigation__list {
    min-width: 475px;
    padding-top: 5px;
    font-size: 20px;
    line-height: 29.6px;
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__list {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation--nojs .main-navigation__list {
    position: static;
    display: flex;
  }
}

.main-navigation__item {
  padding: 22px 0 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-navigation__item {
    position: relative;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    border: none;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .main-navigation__item {
    font-size: 20px;
    line-height: 29.6px;
  }
}

@media (min-width: 768px) {
  .main-navigation__item--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    bottom: -10px;
    left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-navigation__item--current::after {
    bottom: -7px;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .main-header--inner .main-navigation__item--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #68b738;
    bottom: -8px;
    left: 0;
  }
}

.main-navigation__link {
  color: #000000;
  text-decoration: none;
}
.main-navigation__link:hover, .main-navigation__link:focus {
  opacity: 0.6;
  outline: none;
}
.main-navigation__link:active {
  opacity: 0.3;
}
@media (min-width: 1440px) {
  .main-navigation__link {
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .main-header--inner .main-navigation__link {
    color: #000000;
  }
}

@media (min-width: 1024px) {
  .main-container {
    order: 2;
  }
}

.main-container__title {
  margin: 0;
  padding: 0 20px 41px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
@media (min-width: 768px) {
  .main-container__title {
    margin-bottom: 84px;
    padding: 0 30px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .main-container__title {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 84px;
  }
}

.hero {
  min-height: 480px;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, #ffffff 63%), url("../images/cat-licking-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  overflow: hidden;
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, #ffffff 63%), url("../images/cat-licking-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .hero {
    margin: 0;
    padding: 40px 30px 0;
    color: #000000;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .hero {
    position: relative;
    height: 694px;
    margin-bottom: 82px;
    padding: 143px 0 0 110px;
    color: #000000;
    z-index: 4;
  }
}

@media (min-width: 1440px) {
  .hero::after {
    content: "";
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(104, 183, 56, 0.85) 0%), url("../images/cat-licking-desktop@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 720px;
    width: 100%;
    height: 694px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero::after {
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(104, 183, 56, 0.85) 0%), url("../images/cat-licking-desktop@2x.jpg");
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__wrapper {
    max-width: 800px;
    align-items: start;
  }
}
@media (min-width: 1440px) {
  .hero__wrapper {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 80px 244px 123px 163px 389px;
    grid-template-rows: 81px auto auto auto auto;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 10px;
  padding-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    width: 440px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    grid-row: 2/3;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

.hero__description {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__description {
    padding-left: 90px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__description {
    grid-row: 3/4;
    grid-column: 2/4;
    margin: 0;
    margin-bottom: 52px;
    padding: 0;
    text-align: start;
  }
}

@media (min-width: 768px) {
  .hero__picture {
    display: contents;
  }
}

@media (min-width: 768px) {
  .hero__image {
    margin-top: -83px;
    order: 3;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    grid-row: 1/6;
    grid-column: 4/6;
    margin: 0;
  }
}

.hero__link {
  padding: 10px 63.5px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .hero__link {
    padding: 14px 26px;
    margin: 0;
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    order: 2;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .hero__link {
    grid-row: 4/5;
    grid-column: 2/3;
    margin: 0;
    margin-bottom: 184px;
    padding: 14px 26px;
  }
}

.programms {
  margin-bottom: 20px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .programms {
    margin-bottom: 45px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .programms {
    margin-bottom: 71px;
    padding: 0 110px;
  }
}

.programms__wrapper {
  display: flex;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .programms__wrapper {
    flex-direction: row;
  }
}

.programms__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  gap: 20px;
}
@media (min-width: 768px) {
  .programms__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programms__list {
    gap: 80px;
  }
}

.programms__item {
  padding: 30px 33px 18px 20px;
  min-height: 266px;
  position: relative;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .programms__item {
    padding: 77px 316px 53px 52px;
    min-height: 372px;
  }
}
@media (min-width: 1440px) {
  .programms__item {
    padding: 77px 61px 55px 52px;
    max-width: 570px;
    min-height: 374px;
  }
}

.programms__item::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  top: 24px;
  left: 20px;
}
@media (min-width: 768px) {
  .programms__item::before {
    width: 200px;
    height: 200px;
    top: 92px;
    left: auto;
    right: 63px;
  }
}
@media (min-width: 1440px) {
  .programms__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.programms__item--pro::before {
  top: 24px;
  left: 21px;
}
@media (min-width: 768px) {
  .programms__item--pro::before {
    width: 200px;
    height: 200px;
    top: 91px;
    left: auto;
    right: 63px;
  }
}
@media (min-width: 1440px) {
  .programms__item--pro::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.programms__item--slim::after {
  content: "";
  background-image: url("../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  position: absolute;
  top: 21px;
  left: 27px;
}
@media (min-width: 768px) {
  .programms__item--slim::after {
    background-size: 140px 194px;
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 93px;
  }
}
@media (min-width: 1440px) {
  .programms__item--slim::after {
    background-size: 70px 97px;
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: auto;
  }
}

.programms__item--pro::after {
  content: "";
  background-image: url("../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  position: absolute;
  top: 35px;
  left: 12px;
}
@media (min-width: 768px) {
  .programms__item--pro::after {
    background-size: 268px 112px;
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 29px;
  }
}
@media (min-width: 1440px) {
  .programms__item--pro::after {
    background-size: 134px 56px;
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    right: auto;
  }
}

.programms__title {
  position: relative;
  margin: 0 0 29px 21px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .programms__title {
    max-width: 340px;
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .programms__title {
    max-width: 295px;
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.programms__item--pro .programms__title {
  margin-left: 51px;
}
@media (min-width: 768px) {
  .programms__item--pro .programms__title {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .programms__item--pro .programms__title {
    margin-left: 162px;
  }
}

.programms__description {
  position: relative;
  margin: 0;
  margin-bottom: 38px;
  text-align: left;
}
@media (min-width: 768px) {
  .programms__description {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .programms__description {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .programms__description::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 113px;
    left: 0;
    background-color: #d9d9d9;
  }
}

.programms__link {
  position: relative;
  display: inline-block;
  height: 24px;
  padding-right: 47px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: url("../icons/stack.svg#arrow");
  background-position: center right 7px;
  background-size: 24px 12px;
  background-repeat: no-repeat;
  transition: background-position 0.3s linear;
}
.programms__link::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 24px;
  width: 8px;
  height: 2px;
  background-color: #000000;
}
@media (min-width: 768px) {
  .programms__link::after {
    top: 18px;
  }
}
.programms__link:hover, .programms__link:focus {
  background-position: center right;
  outline: none;
}
.programms__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .programms__link {
    height: 38px;
    padding-right: 57px;
    font-size: 20px;
    line-height: 29.6px;
  }
}
@media (min-width: 1440px) {
  .programms__link {
    padding-right: 60px;
    background-position: center right 11px;
    text-align: start;
  }
}

.programms__link:active::after {
  opacity: 0.3;
}

.programms__link-text {
  vertical-align: middle;
}
@media (min-width: 768px) {
  .programms__link-text {
    vertical-align: sub;
  }
}

.features {
  padding: 0 20px 47px;
}
@media (min-width: 768px) {
  .features {
    padding: 0 109px 0 30px;
    border-bottom: 1px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .features {
    margin-bottom: 69px;
    padding: 0 106px 0 110px;
    border: none;
  }
}

.features__wrapper {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .features__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #000000;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .features__title {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.features__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  counter-reset: new 0;
}
@media (min-width: 768px) {
  .features__list {
    max-width: 768px;
    flex-direction: row;
    padding-bottom: 38px;
    gap: 37px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    justify-content: start;
    max-width: 1220px;
    margin: 0;
    padding: 0;
    gap: 0;
  }
}

.features__item {
  position: relative;
  min-height: 60px;
  counter-increment: new 1;
}

.features__item::before {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -2px;
  left: 0;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .features__item::before {
    position: relative;
    width: 80px;
    height: 80px;
    top: 32px;
  }
}
@media (min-width: 1440px) {
  .features__item::before {
    top: 40px;
  }
}

@media (min-width: 768px) {
  .features__item--nutrients {
    width: 230px;
    min-height: 280px;
  }
}
@media (min-width: 1440px) {
  .features__item--nutrients {
    margin-right: 94px;
  }
}

.features__item--nutrients::after {
  content: "";
  position: absolute;
  background-image: url("../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  background-size: 25px 28px;
  width: 25px;
  height: 28px;
  top: 14px;
  left: 18px;
}
@media (min-width: 768px) {
  .features__item--nutrients::after {
    top: 59px;
    left: 26px;
  }
}
@media (min-width: 1440px) {
  .features__item--nutrients::after {
    top: 66px;
    left: 25px;
  }
}

@media (min-width: 768px) {
  .features__item--powder {
    width: 246px;
    min-height: 280px;
  }
}
@media (min-width: 1440px) {
  .features__item--powder {
    margin-right: 79px;
  }
}

.features__item--powder::after {
  content: "";
  background-image: url("../icons/stack.svg#powder");
  background-repeat: no-repeat;
  background-size: 26px 28px;
  width: 25px;
  height: 28px;
  position: absolute;
  top: 15px;
  left: 18px;
}
@media (min-width: 768px) {
  .features__item--powder::after {
    top: 59px;
    left: 28px;
  }
}
@media (min-width: 1440px) {
  .features__item--powder::after {
    top: 66px;
  }
}

@media (min-width: 768px) {
  .features__item--exchange {
    width: 247px;
    min-height: 280px;
  }
}
@media (min-width: 1440px) {
  .features__item--exchange {
    width: 248px;
    margin-right: 75px;
  }
}

.features__item--exchange::after {
  content: "";
  background-image: url("../icons/stack.svg#eat");
  background-repeat: no-repeat;
  background-size: 25px 30px;
  width: 25px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 18px;
}
@media (min-width: 768px) {
  .features__item--exchange::after {
    top: 55px;
    left: 28px;
  }
}
@media (min-width: 1440px) {
  .features__item--exchange::after {
    top: 65px;
    left: 27px;
  }
}

@media (min-width: 768px) {
  .features__item--improvement {
    width: 249px;
    min-height: 280px;
    padding-left: 4px;
  }
}
@media (min-width: 1440px) {
  .features__item--improvement {
    width: 248px;
    padding-left: 0;
  }
}

.features__item--improvement::after {
  content: "";
  background-image: url("../icons/stack.svg#clock");
  background-repeat: no-repeat;
  background-size: 26px 31px;
  width: 26px;
  height: 31px;
  position: absolute;
  top: 13px;
  left: 18px;
}
@media (min-width: 768px) {
  .features__item--improvement::after {
    top: 56px;
    left: 30px;
  }
}
@media (min-width: 1440px) {
  .features__item--improvement::after {
    top: 65px;
  }
}

.features__description {
  position: relative;
  margin: 0;
  padding-left: 80px;
}
@media (min-width: 768px) {
  .features__description {
    position: relative;
    padding: 0;
    padding-top: 63px;
    font-size: 16px;
    line-height: 24px;
  }
  .features__description::after {
    position: absolute;
    top: -87px;
    right: 7px;
    content: counter(new);
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .features__description {
    padding: 71px 0 57px;
  }
  .features__description::after {
    top: -80px;
  }
}

@media (min-width: 768px) {
  .features__item--powder .features__description::after {
    right: 1px;
  }
}

@media (min-width: 768px) {
  .features__item--exchange .features__description::after {
    right: 1px;
  }
}

@media (min-width: 768px) {
  .features__item--improvement .features__description::after {
    right: -2px;
  }
}

@media (max-width: 767px) {
  .features__shift {
    display: none;
  }
}

.example {
  padding: 25px 20px 0;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding: 0 30px;
    background: linear-gradient(#ffffff 55.5%, #eaeaea 55.5%);
  }
}
@media (min-width: 1024px) {
  .example {
    position: relative;
    padding: 0 110px;
    background: linear-gradient(#ffffff 23%, #eaeaea 23%);
  }
}

.example__wrapper {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .example__wrapper {
    max-width: 1220px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .example__title {
    margin: 45px 0 60px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__content {
    display: grid;
    grid-template-columns: 162px 162px 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 99px;
    column-gap: 43px;
  }
}
@media (min-width: 1024px) {
  .example__content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-bottom: 0;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    grid-column: 1/4;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .example__description {
    max-width: 433px;
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .example__list {
    grid-column: 1/3;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .example__list {
    justify-content: normal;
    margin-bottom: 55px;
    gap: 42px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;
}
@media (min-width: 768px) {
  .example__item {
    width: 162px;
  }
}

.example__value {
  padding: 14.5px 0 17.5px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 1024px) {
  .example__value {
    padding: 15px 20px;
  }
}

.example__caption {
  width: 81px;
  align-self: center;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-top: -10px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example__caption {
    width: 114px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1024px) {
  .example__caption {
    margin-top: -7px;
    background-color: #eaeaea;
  }
}

@media (min-width: 768px) {
  .example__caption--time {
    width: 142px;
  }
}

.example__costs {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .example__costs {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 20px;
    text-align: end;
    gap: 9px;
  }
}
@media (min-width: 1024px) {
  .example__costs {
    flex-direction: row;
    justify-content: normal;
    margin-bottom: 75px;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .example__text {
    margin-right: 58px;
  }
}

.example__slider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4px 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .example__slider {
    position: absolute;
    top: 0;
    left: 53.47%;
  }
}

.example__toggle {
  grid-column: 2/3;
  grid-row: 1/1;
  width: 4px;
  height: 256px;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}
.example__toggle:hover, .example__toggle:focus {
  background-color: #68b738;
  outline: none;
}
.example__toggle:active {
  background-color: #68b738;
  opacity: 0.6;
}
.example__toggle:disabled {
  opacity: 30%;
  pointer-events: none;
}
@media (min-width: 768px) {
  .example__toggle {
    height: 512px;
  }
}

.example__toggle::before {
  content: "";
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translate(-50%);
  display: block;
}
@media (min-width: 768px) {
  .example__toggle::before {
    top: 236px;
  }
}

.example__toggle:hover::before,
.example__toggle:focus::before {
  border: 2px solid #68b738;
}

.example__toggle:active::before {
  border: 2px solid rgba(104, 183, 56, 0.6);
}

.example__toggle::after {
  content: "";
  background-color: #666666;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 119px;
  left: 128px;
  display: block;
  mask-image: url("../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 18px;
  mask-position: 50%;
}
@media (min-width: 768px) {
  .example__toggle::after {
    top: 247px;
    left: 268px;
  }
}

.example__toggle:hover::after,
.example__toggle:focus::after {
  background-color: #68b738;
}

.example__toggle:active::after {
  background-color: #68b738;
  opacity: 0.6;
}

.example__image--slim {
  position: absolute;
  top: 0;
  left: -140px;
}
@media (min-width: 768px) {
  .example__image--slim {
    left: -280px;
  }
}

.image-cat {
  width: 280px;
  height: 296px;
}
@media (min-width: 768px) {
  .image-cat {
    width: 560px;
    height: 613px;
  }
}

.image-cat__fat {
  grid-column: 1/4;
  grid-row: 1/1;
  width: 140px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .image-cat__fat {
    width: 280px;
  }
}

.image-cat__slim {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/1;
  width: 140px;
  margin-left: 140px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .image-cat__slim {
    width: 280px;
    margin-left: 280px;
  }
}

.map {
  position: relative;
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .map__wrapper {
    padding: 61px 70px;
  }
}
@media (min-width: 1024px) {
  .map__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 60px 78px 60px 80px;
    background-color: #ffffff;
    z-index: 1;
  }
}

.map__text {
  max-width: 140px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .map__text {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }
}

.map__address {
  line-height: 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .map__address {
    margin-left: 0;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .map__address {
    max-width: 157px;
  }
}

.map__iframe {
  position: relative;
  background-image: url("../images/map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .map__iframe {
    background-image: url("../images/map-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .map__iframe {
    background-image: url("../images/map-tablet@1x.png");
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .map__iframe {
    background-image: url("../images/map-tablet@2x.png");
  }
}
@media (min-width: 1024px) {
  .map__iframe {
    background-image: url("../images/map-desktop@1x.png");
  }
}
@media (min-width: 1024px) and (min-resolution: 2dppx) {
  .map__iframe {
    background-image: url("../images/map-desktop@2x.png");
  }
}

.map__iframe::after {
  content: "";
  position: absolute;
  top: 139px;
  left: 134px;
  width: 57px;
  height: 53px;
  background-image: url("../icons/stack.svg#map-pin");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .map__iframe::after {
    top: 148px;
    left: 333px;
    width: 113px;
    height: 106px;
  }
}
@media (min-width: 1024px) {
  .map__iframe::after {
    top: 132px;
    left: 908px;
  }
}

.map iframe {
  position: relative;
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .map iframe {
    height: 400px;
  }
}

.map--inner {
  background-color: #f2f2f2;
}

.address {
  font-style: normal;
}
@media (min-width: 768px) {
  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }
}
@media (min-width: 1024px) {
  .address {
    text-align: left;
  }
}

.address__street {
  margin: 0;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .address__street {
    max-width: 160px;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .address__street {
    margin-bottom: 19px;
  }
}

.address__city {
  margin: 0;
  padding-left: 15px;
}
@media (min-width: 1024px) {
  .address__city {
    padding-left: 0;
  }
}

.main-footer {
  min-height: 240px;
  padding: 40px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-footer {
    min-height: 147px;
    padding: 55px 30px;
  }
}
@media (min-width: 1024px) {
  .main-footer {
    padding: 66px 110px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .main-footer__wrapper {
    max-width: 1220px;
  }
}

.main-footer__logo {
  display: block;
  position: relative;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  mask-image: url("../images/logo-text.svg");
  mask-repeat: no-repeat;
  mask-size: 128px 24px;
  background-color: #111111;
}
@media (min-width: 768px) {
  .main-footer__logo {
    height: 37px;
    margin: 8px 34px 0 0;
  }
}
@media (min-width: 1024px) {
  .main-footer__logo {
    mask-position: center;
    height: 37px;
    margin-top: 1px;
  }
}
.main-footer__logo:hover, .main-footer__logo:focus {
  background-color: #3e3e3e;
  outline: none;
}
.main-footer__logo:active {
  background-color: #6b6b6b;
}

.main-footer--inner .main-footer__logo {
  margin-top: 0.5px;
}
@media (min-width: 768px) {
  .main-footer--inner .main-footer__logo {
    margin-top: 6px;
  }
}
@media (min-width: 1024px) {
  .main-footer--inner .main-footer__logo {
    margin-top: 0;
  }
}

.main-footer__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}
@media (min-width: 768px) {
  .main-footer__list {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .main-footer__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: -21px;
    left: 0;
    background-color: #d9d9d9;
  }
}

@media (max-width: 767px) {
  .main-footer__list::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -20px;
    left: 0;
    background-color: #d9d9d9;
  }
}

.main-footer__copyright {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    margin-top: 0;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}
.social__link:hover, .social__link:focus {
  background-color: #68b738;
  outline: none;
}
.social__link:active {
  opacity: 0.3;
}

.social__link--vkontakte {
  mask-image: url("../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: #666666;
}

.social__link--youtube {
  mask-image: url("../icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  mask-size: 24px 18.7px;
  mask-position: center;
  background-color: #666666;
}

.social__link--telegram {
  mask-image: url("../icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  mask-size: 20px 18px;
  mask-position: center;
  background-color: #666666;
}

.copyright {
  position: relative;
  padding-right: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}
.copyright:focus {
  outline: none;
}
.copyright:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .copyright {
    max-width: 170px;
    padding-bottom: 4px;
  }
}

.copyright::after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../icons/stack.svg#html-academy-pic");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
}

.copyright:hover::after,
.copyright:focus::after {
  background-color: #68b738;
  outline: none;
}

.copyright:active::after {
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .copyright__text {
    padding: 8.5px 0;
  }
}

.main-inner__title {
  margin: 0;
  padding: 0 0 41px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
@media (min-width: 768px) {
  .main-inner__title {
    margin: 0 30px 84px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1024px) {
  .main-inner__title {
    margin: 0 84px 110px;
  }
}

@media (min-width: 768px) {
  .products {
    margin-bottom: 74px;
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .products {
    margin-bottom: 71px;
    padding: 0 110px;
  }
}

.products__wrapper {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .products__wrapper {
    max-width: 900px;
  }
}
@media (min-width: 1440px) {
  .products__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.products__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .products__list {
    flex-direction: row;
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    gap: 63px 80px;
  }
}

.products__item {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 20px auto auto;
  width: 100%;
  min-height: 209px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 324px;
    min-height: 511px;
    padding: 15px 37px 40px;
    align-items: center;
    background: linear-gradient(180deg, #ffffff 16%, #f2f2f2 16%);
    border: none;
  }
}
@media (min-width: 1440px) {
  .products__item {
    max-width: 245px;
    padding: 17px 38px 40px;
  }
}

.products__item:first-child {
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products__item:first-child {
    border: none;
  }
}

.products__link {
  grid-column: 2/4;
  grid-row: 3/4;
  margin-bottom: 25px;
  padding: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
}
@media (min-width: 768px) {
  .products__link {
    width: 100%;
    margin: 0;
  }
}

.card__link-picture {
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10.5px 34px;
}
.card__link-picture:hover, .card__link-picture:focus, .card__link-picture:active {
  opacity: 0.8;
  outline: none;
}
@media (min-width: 768px) {
  .card__link-picture {
    min-height: 210px;
    margin-bottom: 17px;
    padding: 0;
    padding-top: 10px;
  }
}
@media (min-width: 1440px) {
  .card__link-picture {
    min-height: 175px;
    margin-bottom: 23px;
  }
}

.card__link-picture--big {
  padding: 3.5px 28px;
}
@media (min-width: 768px) {
  .card__link-picture--big {
    margin-bottom: 16px;
    padding: 0 16px 2px;
  }
}
@media (min-width: 1440px) {
  .card__link-picture--big {
    margin-bottom: 7px;
  }
}

.card__image {
  margin-left: 2px;
}
@media (min-width: 768px) {
  .card__image {
    margin-left: 0;
    margin-top: 3px;
  }
}
@media (min-width: 1440px) {
  .card__image {
    margin-top: 0;
  }
}

.card__link-picture--big .card__image {
  margin-left: 0;
}
@media (min-width: 768px) {
  .card__link-picture--big .card__image {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .card__link-picture--small .card__image {
    margin-top: 0;
  }
}

.card__wrapper {
  width: 140px;
  grid-column: 3/4;
  grid-row: 2/3;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .card__wrapper {
    width: 100%;
    margin-bottom: 27px;
  }
}

.card__link {
  margin-bottom: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.card__link:hover, .card__link:focus {
  opacity: 0.6;
  outline: none;
}
.card__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .card__link {
    max-width: 135px;
  }
}

.card__title {
  max-width: 80px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
}
@media (min-width: 768px) {
  .card__title {
    max-width: 135px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .card__title {
    margin-bottom: 23.4px;
    padding-right: 3px;
  }
}

.card__list {
  margin: 0;
  padding: 0;
}

.card__link-picture--small {
  padding: 13px 34px;
}
@media (min-width: 1440px) {
  .card__link-picture--small {
    padding: 0;
    padding-top: 10px;
  }
}

.card__link-picture--wide {
  padding: 10.5px 32px;
}
@media (min-width: 1440px) {
  .card__link-picture--wide {
    padding: 0;
    padding-top: 10px;
  }
}

.card-properties {
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}
@media (min-width: 768px) {
  .card-properties {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-properties__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card-properties__item {
    position: relative;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .card-properties__item {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .card-properties__item::after {
    position: absolute;
    content: "";
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .card-properties__item::after {
    top: 26px;
  }
}

@media (min-width: 1440px) {
  .card-properties__item:first-child {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .card-properties__item:nth-child(2) {
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .card-properties__item:last-child::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }
}

@media (min-width: 768px) {
  .card-properties__weight-score {
    margin-right: 2px;
  }
}
@media (min-width: 1440px) {
  .card-properties__weight-score {
    margin-right: 2px;
  }
}

.card-properties__price-score {
  padding-right: 2px;
}

@media (min-width: 1440px) {
  .products__item:nth-child(2) .card-properties__price-score {
    margin-right: 2px;
  }
}

.more {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 768px) {
  .more {
    align-self: end;
    min-height: 429px;
    padding: 160px 37px 40px;
    background: #ffffff;
    box-shadow: inset 0 0 0 2px #f2f2f2;
  }
}
@media (min-width: 1024px) {
  .more {
    padding: 150px 37.5px 40px;
  }
}

.more__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0 20px;
  padding-top: 77px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .more__title {
    margin-bottom: 23px;
    padding: 0;
    max-width: 134px;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .more__title {
    margin-bottom: 26px;
  }
}

.more__title::before {
  content: "";
  position: absolute;
  background-image: url("../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  top: 25px;
  left: calc(50% - 15px);
}
@media (min-width: 768px) {
  .more__title::before {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    top: -110px;
    left: calc(50% - 30px);
  }
}
@media (min-width: 1024px) {
  .more__title::before {
    top: -100px;
  }
}

.more__text {
  margin: 0;
  margin-bottom: 21px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
@media (min-width: 768px) {
  .more__text {
    margin-bottom: 82px;
    padding: 0;
    max-width: 170px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1024px) {
  .more__text {
    margin-bottom: 90px;
  }
}

.more__link {
  margin: 0 20px 24px;
  padding: 10px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .more__link {
    width: 100%;
    margin: 0;
  }
}

.additional {
  position: relative;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .additional {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .additional {
    margin-bottom: 96px;
  }
}

.additional::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .additional::before {
    top: 14px;
  }
}
@media (min-width: 1440px) {
  .additional::before {
    width: calc(100% + 110px);
    top: 18px;
    left: -110px;
  }
}

.additional__wrapper {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .additional__wrapper {
    position: relative;
    max-width: 1440px;
  }
}

.additional__title {
  width: 286px;
  margin: 24px 0 34px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .additional__title {
    width: 381px;
    margin: 0 0 80px 30px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .additional__title {
    width: 456px;
    margin-left: 70px;
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  margin-bottom: 34px;
  padding: 0 20px;
  list-style: none;
}
@media (min-width: 768px) {
  .additional__list {
    margin-bottom: 69px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additional__list {
    position: relative;
    max-width: 896px;
    padding: 0;
    margin: 0;
    margin-left: 110px;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional__item {
    grid-template-columns: 1fr 150px 91px;
    grid-template-rows: auto auto;
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    row-gap: 5px;
  }
}
@media (min-width: 1440px) {
  .additional__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2.5px 15px 0;
    border: none;
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .additional__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #cdcdcd;
  }
}

@media (min-width: 1440px) {
  .additional__item:first-child {
    padding-bottom: 13px;
  }
}

.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional__item:last-child {
    padding-top: 17px;
  }
}

.additional__product {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
  margin-bottom: 12px;
  padding-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .additional__product {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .additional__product {
    flex-grow: 1;
    width: 250px;
    margin: 0;
  }
}

.additional__weight {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 15px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional__weight {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: auto;
    padding-top: 4px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional__weight {
    width: 179px;
    margin: 0;
    padding-left: 3px;
  }
}

.additional__price {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 14px;
  text-align: end;
}
@media (min-width: 768px) {
  .additional__price {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 2px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional__price {
    width: 70px;
    margin: 0;
    padding-top: 5px;
  }
}

@media (min-width: 1440px) {
  .additional__item:nth-child(2) .additional__price {
    padding-right: 12px;
  }
}

.additional__link {
  grid-column: 1/3;
  grid-row: 3/3;
  margin-bottom: 19px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
}
@media (min-width: 768px) {
  .additional__link {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .additional__link {
    width: 100%;
    max-width: 244px;
  }
}

.additional__promo {
  min-height: 290px;
  margin: 0 20px;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .additional__promo {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .additional__promo {
    min-height: 200px;
    margin: 0 30px;
    background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .additional__promo {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
}
@media (min-width: 1440px) {
  .additional__promo {
    position: absolute;
    top: 120px;
    right: 110px;
    width: 245px;
    min-height: 288px;
    margin: 0;
    background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .additional__promo {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 100%, rgba(104, 183, 56, 0.85) 100%), url("../images/cat-backpack-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
  }
}

.additional__promo-text::before {
  content: "";
  position: absolute;
  background-image: url("../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;
  width: 78px;
  height: 80px;
  top: 59px;
  left: 36%;
}
@media (min-width: 768px) {
  .additional__promo-text::before {
    top: 57px;
    left: 79px;
  }
}
@media (min-width: 1440px) {
  .additional__promo-text::before {
    top: 57px;
    left: 84px;
  }
}

.additional__promo-text {
  position: relative;
  margin: 0;
  padding: 187px 61px 43px 58px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .additional__promo-text {
    padding: 71px 125px 69px 421px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .additional__promo-text {
    padding: 185px 42px 43px;
    text-align: center;
  }
}

.subscribe {
  position: relative;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}
@media (min-width: 768px) {
  .subscribe {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .subscribe {
    margin: 0;
  }
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #68b738;
  z-index: -1;
}
@media (min-width: 768px) {
  .subscribe::before {
    top: 14px;
  }
}
@media (min-width: 1024px) {
  .subscribe::before {
    width: calc(100% + 110px);
    top: 18px;
    left: -110px;
  }
}

.subscribe__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.subscribe__title {
  width: 212px;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .subscribe__title {
    width: 282px;
    margin: 0 0 66px 30px;
    padding-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }
}
@media (min-width: 1024px) {
  .subscribe__title {
    width: 333px;
    margin: 0 70px;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .subscribe__text {
    max-width: 632px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0 30px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .subscribe__text {
    margin: 0 40px;
    margin-bottom: 24px;
    max-width: 100%;
  }
}

.subscribe__form {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .subscribe__form {
    display: flex;
    width: 632px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .subscribe__form {
    width: 100%;
    padding: 0 344px 104px;
  }
}

.subscribe__field {
  min-width: 280px;
  margin-bottom: 16px;
  padding: 11px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 29.6px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .subscribe__field {
    width: 376px;
    margin-bottom: 0;
    padding: 12px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .subscribe__field {
    width: 496px;
  }
}
.subscribe__field:hover {
  border: 1px solid #cdcdcd;
}
.subscribe__field:focus, .subscribe__field:active {
  border: 1px solid #444444;
  outline: none;
}
.subscribe__field:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe__button {
  padding: 15px 81.5px;
}
@media (min-width: 768px) {
  .subscribe__button {
    padding: 15px 69.5px;
  }
}